POSTGRES_DB=municipal_dw
POSTGRES_USER=warehouse_admin
POSTGRES_PASSWORD=warehouse_dev_password
DATABASE_URL=postgresql+psycopg://warehouse_admin:warehouse_dev_password@postgres:5432/municipal_dw
DASHBOARD_DATABASE_URL=postgresql+psycopg://dashboard_reader:dashboard_reader_password@postgres:5432/municipal_dw
DBT_PROFILES_DIR=/app/dbt
DATA_MODE=fixture
DATA_DIR=/app/data
LOG_LEVEL=INFO
SCB_BASE_URL=https://statistikdatabasen.scb.se/api/v2
SCB_TABLE_ID=TAB638
SCB_YEARS=2022,2023,2024
KOLADA_BASE_URL=https://api.kolada.se/v3
KOLADA_KPI_IDS=N20043,N00533,N00901
KOLADA_YEARS=2022,2023,2024
ELECTION_SOURCE_URL=https://www.val.se/download/18.162047b519a91d0533118f4e/1764337121617/roster-per-distrikt-slutligt-antal-roster-inklusive-totalt-valdeltagande-kommunval-2022.xlsx
ELECTION_YEAR=2022
